.footer {
  background-color:rgb(60, 23, 60);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer p {
  font-size: 14px;
}
@media (max-width: 522px){
  .footer{
    min-width: 100vh;
  }
}
